<nav class="site-header">
  <div class="container">
    <div class="navbar">

      <!-- Logo -->
      <a href="/" class="navbar-logo nav-link" data-menu="home">
        
      </a>

      <!-- Hamburger -->
      <button class="hamburger" id="hamburger" aria-label="Toggle Menu">
        <span></span>
        <span></span>
        <span></span>
      </button>

      <!-- Menu -->
      <ul class="nav-menu" id="navMenu">
        <!-- <li class="nav-item">
          
        </li>

        <li class="nav-item dropdown">
          <a href="#/products" class="nav-link" data-menu="products" data-page="/pages/product/product.html">Products</a>
          <ul class="submenu">
            <a href="#/hot-spicy" data-menu="products" data-page="/pages/product/hot-spicy.html">Hot & Spicy</a>
            <a href="#/hot-spicy" data-menu="products" data-page="/pages/product/hot-spicy.html">Hot & Spicy</a>
            <a href="#/hot-spicy" data-menu="products" data-page="/pages/product/hot-spicy.html">Hot & Spicy</a>
          </ul>
        </li>

        <li class="nav-item">
          <a href="#/about" class="nav-link" data-menu="about" data-page="/pages/about.html">About</a>
        </li>

        <li class="nav-item">
          <a href="#/contact" class="nav-link" data-menu="contact" data-page="/pages/contact.html">Contact</a>
        </li> -->
      </ul>

    </div>
  </div>
</nav>
