body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* Header */
.site-header {
  background: #ffffff;
  border-bottom: 2px solid #d32f2f;
}

/* Layout */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

/* Logo */
.navbar-logo img {
  display: block;
  height: 75px;
}

/* Menu */
.nav-menu {
  list-style: none;
  display: flex;
  gap: 34px;
}

.nav-item {
  position: relative;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

/* Hover */
.nav-link:hover {
  color: #d32f2f;
}

/* Active */
.nav-link.active {
  color: #d32f2f;
  font-weight: 600;
  border-bottom: 3px solid #d32f2f;
  padding-bottom: 22px;
}

/* Dropdown */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  background: #fff;
  list-style: none;
  border-top: 3px solid #d32f2f;
  opacity: 0;
  visibility: hidden;
  transition: .25s;
  padding-left: 0px;
  border-radius: 5px;
  z-index: 100;
}

.dropdown:hover .submenu {
  opacity: 1;
  visibility: visible;
}

.submenu a {
  display: block;
  padding: 12px 18px;
  color: #444;
  text-decoration: none;
}

.submenu a:hover {
  background: #fdf1f1;
}


/* Hamburger */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.hamburger span {
  display: block;
  width: 26px;
  height: 3px;
  background: #d32f2f;
  margin: 5px 0;
  transition: all 0.3s ease;
}

/* Mobile Menu */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-menu {
    position: absolute;
    top: 74px;
    left: 0;
    width: 92%;
    background: #ffffff;
    flex-direction: column;
    gap: 0;
    /* border-top: 2px solid #d32f2f; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease;
  }

  .nav-menu.open {
    max-height: 500px;
  }

  .nav-item {
    border-bottom: 1px solid #eee;
  }

  .nav-link {
    padding: 16px 20px;
    display: block;
  }

  .submenu {
    position: static;
    opacity: 1;
    visibility: visible;
    transform: none;
    border: none;
    box-shadow: none;
    display: none;
  }

  .dropdown.open .submenu {
    display: block;
  }
}

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

#navbar{
  position: sticky;
  top: 0;
  z-index: 100;
}

.site-header {
  background: #ffffff;
  border-bottom: 2px solid #d32f2f;
}

